@use '../../index.scss' as color;

.containerRegistration {
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: map-get(color.$background , "general" );
}

.containerImg {
    display: flex;
    justify-content: center;
}

.logoNoteStorm {
    height: 30%;
    width: 50%;
    margin: 10% 20%;
}

.formContainer {
    height: 55%;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10%;
    height: 45%;
    width: 100%;
    input {
        width: 70%;
        height: 20%;
        border-top: none;
        border-right: none;
        border-left: none;
        background-color: map-get(color.$background , "general" );
    }
    button{
        font-size: 1.6rem;
    }
}

input {
    width: 70%;
    height: 20%;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: map-get(color.$background , "general" );
    font-size: 1rem;
}

input:focus {
	outline: none;
    background-color:#ffffff00;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    transition: background-color 5000s ease-in-out 0s;
}

.btnRegister {
    height: 30%;
    width: 35%;
    border: none;
    background-color: map-get(color.$text , "button" );
    border-radius: 10px;
    color: rgba(255, 255, 255);
    box-shadow: 2px 2px 2px 1px rgb(0, 0, 0, 0.25);
    font-size: 1rem;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35%;
    row-gap: 8%;
    justify-content: flex-end;
    font-size: 1.1rem;
}

.logoGoogle {
    width: 9%; 
}

@media (min-width: 700px) {
    .logoNoteStorm {
        width: 35%;
    }

    input {
        font-size: 1.4rem;
    }
    
    .btnRegister {
        font-size: 1.4rem;
    }

    .loginContainer {
        font-size: 1.6rem;
    }
}

@media (min-width: 1000px) {
    .containerRegistration {
        display: flex;
    }

    .containerImg {
        display: flex;
        align-items: center;
        width: 50%;
    }

    .logoNoteStorm {
        width: 70%;
        height: 60%;
    }

    .formContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-right: 6%;
        padding-left: 6%;
        height: 100%;
        width: 50%;
    }

    .infoContainer {
        row-gap: 14%;
        height: 50%;
    }

    input {
        font-size: 1rem;
    }

    .btnRegister {
        font-size: 1rem;
    }

    .loginContainer {
        display: flex;
        justify-content: flex-end;
        height: 50%;
        font-size: 1rem;
    }
}

