$background :(
    "general" :rgba(220, 238, 251),
);
$text:(
    "button":rgba(252, 107, 104, 0.7),
);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
